# Build output
build/
debug/

# Executables
app

# macOS
.DS_Store

# VS Code
.vscode/

# Visual Studio
.vs/
*.suo
*.opendb
*.db
*.ipch

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Logs
*.log